body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;

  margin: 80px;
  background-color: grey;
}

.main-body {
  display: block;

  min-width: 100%;
  background-color: #f9f9f9;
  align-items: center;

  border-style: solid;
  border-color: red;

  margin-top: -20px;
  margin-left: 0;
  margin-right: 0;
}