body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;


  background-color: #f9f9f9;
}

.main-body {
  display: block;

  width: 100%;
  background-color: #f9f9f9;
  align-items: center;

  border-style: solid;
  border-color: red;

  margin-left: -10px;
  margin-right: 10px;
}