.sec-container {
  /* height: 25rem ; 
  */
  position: relative;
  margin-bottom: 10px;
  margin-right: auto;
  padding: 5rem 0;

}

.sec-1 {
  background-color: #000C56;
}

div.sec-1 {
  color: white;
}

.sec-1-title {
  font-weight: 700;
  font-size: 4rem;

  margin: auto;
}



.sec-1-content-wrapper {
  position: relative;
  width: 43.75rem;
  margin-left: 4.5rem;
  margin-top: auto;
  margin-bottom: auto;

  background-color: aqua;
 
}

.sec-2 {
  background-color: red;
}

.sec-3 {
  background-color: green;
}
